.card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 25px;
  border-radius: 24px;
  background: linear-gradient(180deg, #1a1a1a, #121212);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04), 0 20px 60px rgba(0, 0, 0, 0.6);
}

.top-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.icon {
  width: 56px;
  height: 56px;
  border-radius: 25%;
  display: grid;
  place-items: center;

  img {
    width: 26px;
    height: 26px;
  }
  .incomplete-icon {
    filter: invert(1);
  }
}

.subcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 20px;
  border-radius: 24px;
  background: linear-gradient(180deg, #1a1a1a, #121212);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04), 0 20px 60px rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
