.layout {
  display: flex;
  min-height: 100vh;
  background: #0d0d0d;
}

/* Sidebar fijo */
app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  flex-shrink: 0;
  z-index: 100;
}

/* Right side */
.main {
  margin-left: 260px; /* deja espacio al sidebar */
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
app-header {
  height: 64px;
  flex-shrink: 0;
}

/* Content */
.content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}
